.playlist-card-container{
    position: relative;
    height: 15rem;
    cursor: pointer;
}

.playlist-card-container:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}
.about-playlist-card{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
   
}

.playlist-title, .playlist-action{
    font-size: 1.5rem;

}

.playlist-card-overlay{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   width: 40%;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.6);
   color: var(--white-color);
}