.playlist-container{
    display: flex;
    gap: 5rem;
    align-content: flex-start;
    padding: 3rem 1.5rem 1.5rem 2.5rem;
    width: 85%;
    flex-wrap: wrap;
}

.empty-container p{
    font-size: 2.5rem;
    font-weight:400;
}