.sidebar-item-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.sidebar-container{
    position: sticky;
    top:3rem; 
    width: 15%;
    top: 6.5rem;
    height: 100vh;
    padding: 4rem 1rem;
   
}

.sidebar-item{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    padding: 1.2rem 2rem;
    font-size: 1.7rem;
    width: 100%;
}

.sidebar-item:hover{
    background-color: var(--light-green);
}

.active{
    background-color: var(--light-green);
    color: var(--primary-color);
}

