.main-container{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.video-container{
    display: flex;
    gap: 2rem;
    /* justify-content: center; */
    padding: 3rem 1.5rem 1.5rem 2.5rem;
    width: 85%;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}